<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
  <title>Book Store</title>
</head>
<body>
<div class="header-in">
					<ul class="icon1 sub-icon1">
					
							
							<li><a href="#" sec:authentication="principal.username"></a></li>
					
							
	
							<li> <a href="checkout.jsp" >Your Cart</a> </li>	
								
					<li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
					
						 
					    
						</ul>
				</div>
				<div class="clearfix"> </div>
</body>
</html>